*{
    margin: 0;
    padding: 0;
    /* transition: all .4s; */
    scroll-behavior: smooth;
    font-family: Poppins !important;
}
body{
    background: #fafafabc !important;
    /* background: #0091f1; */
}
.color{
    color: darkorange;
}
