* {
  margin: 0;
  padding: 0;
  /* transition: all .4s; */
  scroll-behavior: unset;
  font-family: Poppins !important;
}
body {
}
.color {
  color: darkorange;
}
.admin {
  padding: 20px;
  color: #fff;
  background: #000;
}
.sideBar * {
  margin-top: 40px;
  margin-bottom: 40px;
  color: #fff;
}
input {
  box-shadow: 0px 0px 0px black !important;
}
